* {
    max-width: 100vw;
}

.header {
    max-width: 100vw;
    overflow-x: hidden;
}

footer {
    width: 100%;
    background-color: #1d2338;
    text-align: left;
    /* padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 600px; */
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:0;

    height: 150px;
}

.footer-logo {
    max-width: 100px;
    margin-right: 20px;
    /* Add margin to separate the image from text */
}

.footer-content {
    line-height: 1.5;
    color: white;
    font-weight: lighter;
    font-size: 16px;
    padding-left: 100px;
    text-align: center;
}

#spacer {
    height: 160px;
}

body {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
    color: #3d3838;
    overflow-x: hidden;
}

.navbar {
    background-color: transparent;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
    color: #3b3636;
}

.nav-item {
    margin-right: 50px;
}

.nav-link {
    color: #2b2323;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff;
    /* Blue color for active link */
    border-bottom: 2px solid #007bff;
    /* Blue line under active link */
}

.tabs-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #444242;
    padding: 10px;
}

/* Remove blue box around content boxes */
.tab-content .tab-pane {
    border: none;
}

/* Center the heading at the top */
.heading-container {
    text-align: center;
    background-color: #0057b300;
    padding: 30px;
    position: relative;
}

/* Style for the content area */
.content-container {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(80, 80, 80, 0.1);
    /* Remove outline around content box */
    outline: none;
    /* Make content container scrollable only when necessary */
    overflow-y: auto;
    /* Adjust the font size for subheadings */
    padding-left: 300px;
}

/* Separate color box for the CAMS Machine Learning heading */
.heading-color-box {
    background-color: #0057b300;
    padding-top: -25px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

/* Style for subheadings */
.subheading {
    color: #4896e9;
    font-size: 25px;
    padding-bottom: 22px;
    padding-left: 0;
    padding-top: 22px;
}

/* Style for text */
.text {
    font-size: 22px;
    /* padding-right: 250px; */
    padding-left: 0;
}

/* Style for the additional heading */
.additional-heading {
    background-color: #046bd8;
    color: #ffffff;
    font-size: 50px;
    padding: 10px 0;
    text-align: center;
}

.slogan {
    color: #d3d3d3;
    font-size: 24px;
    background-color: #046bd8;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* CAMS Machine Learning heading */
.cams-machine-learning-text {
    font-family: 'Montserrat';
    font-weight: bolder;
    /* Make the font bold */
    font-size: 90px;
    text-align: center;
    padding-top: 100px;
}

.nav-tabs {
    background-color: transparent;
}

.image-slot {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-top: 20px;

}

.image-slot img {
    box-shadow: 0 0 0 1px #777777;
    border-radius: 5px;
    margin-right: 20px;
}

.image-text {
    padding-left: 20px;
    font-size: 16px;
    color: #666666;
}

/* Style for social media icons */
.social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}

.leader-image {
    width: min(300px,25vw);
}

/* disable fixed fooder when screen is too small */
@media (max-width: 767px) or (max-height: 750px) {
    footer {
        position:relative;  
        height:fit-content;
        padding: 10px;
    }
    #spacer {
        height:0px;
    }
}
/*
@media (min-width: 768px) and (max-width: 992px) {
    Your styles for medium screens
}
/*
@media (min-width: 993px) {
    Your styles for large screens
} */